*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(1350deg, #00b5ff, #60e8ff, #c1ffff, #ffffff );
   background-size: 500%;
   animation: fanimado 10s infinite;
}

@keyframes fanimado{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.ad-textbox {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 800px;
}


.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
    position: relative
  
}

input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  width: 180px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  line-height: 1.5rem;
  position: relative;
  left: 290px;
}

button:hover {
  background-color: #13569e;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }
}
